<h2 id="title">Profil</h2>   

<mat-card class = "mainCard" style="background-color: transparent;">

    <div style="clear: left;">
        <p style="float: left;"><img src="assets/images/pokemonstar.svg" height="200" width="200"></p>
        <div>
            <h1>Nomdgfsgfdsgfdsgfdssgfdgfds: </h1>
            <h2>{{username}}</h2>
        </div>
        <div>
            <h3>Date: {{date}}</h3>
        </div>
    </div>

</mat-card>

<div *ngIf="estCombattant()">
    <mat-card class = "pokedexclass">
        <div>
            <li *ngFor="let pkmnNb of team; let i = index;" class="teamMember">
                {{ i+1 }}. <img src="assets/images/imgPkmns/{{pkmnNb+1}}.png">
            </li>
        </div>
    </mat-card>
</div>

<mat-card id="boutonContainer">
    <mat-list-item><button mat-flat-button color="accent" class="icon" (click)="gotoLink('/pokedex');">Pokédex</button></mat-list-item>
    <mat-list-item><button mat-flat-button color="basic" class="icon" (click)="gotoLink('/events');">Calendrier</button></mat-list-item>
</mat-card>


