<h2 id="title">À propos</h2>

<div class="mainContent">
   <mat-card id="mainCard">
        <mat-card id="aPropos">
        <h4><strong>Histoire de la ligue</strong></h4>
            Fringilla, hymenaeos ut phasellus facilisi molestie gravida gravida scelerisque 
            netus elementum sit sapien est aptent Turpis dignissim suscipit habitant morbi luctus.
            Posuere pellentesque mi phasellus amet, pellentesque curabitur. Neque vivamus dictumst.
            Lacus auctor at cum accumsan facilisis sodales sociosqu venenatis euismod auctor.
            <p></p>
            <h5><strong>Objectifs et informations</strong></h5>
            Iaculis aenean eget hac luctus cras nisl est a duis iaculis auctor. 
            Aenean nulla. Proin erat sodales proin taciti nulla integer turpis bibendum magnis ut.
            <br>
            <p></p>
            <h5><strong>Règles de la  ligue</strong></h5>
            Molestie bibendum curae. 
            Pellentesque habitant est sodales purus enim ultrices dignissim eu suspendisse et malesuada.
            Mattis blandit praesent integer, donec ante elementum curae.
            Massa consequat pede fermentum. Habitasse cum risus tincidunt mauris, laoreet.
        </mat-card>
        <mat-card id="contact">
            <h3><strong>Rejoignez nous !</strong></h3>
            <p id="p">Email :  mtlpkmnLeague@gmail.com</p>
            <p></p>
            <button mat-raised-button>Link to Facebook</button>
            <button mat-raised-button>Link to Twitter</button>
            <button mat-raised-button>Link to Reddit</button>
        </mat-card>
    </mat-card>
</div>