<div id="mainContent">
    <h2 mat-dialog-title>Nouvel événement créé !</h2>

    <mat-dialog-content>
    
        Un nouvel événement a été créer et ajouter au calendrier. 
        
        Consultez la section <strong>Calendrier et événement</strong> si vous désirez modifier ou annuler cet événement.
    
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button id="primary" color="primary" (click)="gotoLink('/accueil')">Finaliser la création</button>
    </mat-dialog-actions>
</div>