#mainContent{
  padding-top:70px;
  padding-left: 25vw;
  padding-right: 25vw;
}

#title {
  margin-left: 260px;
  margin-top: 0px;
  color: white;
  font-weight: 600;
  font-size: 4ch;
  letter-spacing: 3px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    padding: 10px;

  }
  
  #annuler {
    border-radius: 25px;
    margin-right: 5%;
    margin-left: 100%;
    padding-right: 3ch;
    padding-left: 3ch;
  }
  
  #envoyer {
    border-radius: 25px;
    margin-bottom: 20px;
    margin-right: 20vw;
    margin-left: 30%;
    padding-right: 3ch;
    padding-left: 3ch;
  }

  #check {
    margin-top: 15px;
  }

  #date {
    width: 230px;
  }